{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <!-- This is usefull to check if the bigbluebutton is responding -->
    {% if user.is_authenticated %}
        {% trans "Retrieving the list of meetings : " %}{% if return_code == 'SUCCESS' %}<b>OK</b>{% else %}<b>{% trans "Failure" %}</b>{% endif %}.<br /><br />
    {% endif %}

    <fieldset>
        <legend>{% trans "List of meetings" %}</legend>
        {% if is_meetings %}
            <div class="table-responsive">
            <table align="center" class="table table-striped">
                <th>{% trans "Name of the meeting" %}</th>
                <th>{% trans "State of the meeting" %}</th>
            {% for meeting in meetings %}
                <tr>
                    <td>{{ meeting.meetingName }}</td>
                    <td>{% if meeting.running == 'true' %}{% trans "Running" %}{% else %}{% trans "Not running" %}{% endif %}</td>
                </tr>
            {% endfor %}
            </table>
            </div>
        {% else %}
            {% trans "No meeting available." %}
        {% endif %}
    </fieldset>

{% endblock %}
