{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        Récupération de la liste des conférences : {% if return_code == 'SUCCESS' %}<b>OK</b>{% else %}<b>Echec</b>{% endif %}.</br ><br />
    {% endif %}

    <fieldset>
        <legend>Liste des conférences</legend>
        {% if is_meetings %}
            <table align="center" class="table table-striped">
                <th>Nom de la conférence</th>
                <th>État de la conférence</th>
                <th>Enregistrement</th>
                <th>Rejoindre</th>
            {% for meeting in meetings %}
                <tr>
                    <td>{{ meeting.meetingName }}</td>
                    <td>{% if meeting.running == 'true' %}Démarée{% else %}Non démarrée{% endif %}</td>
                    <td><button type="button" class="btn btn-primary" name="show_subscribe_meeting_form" id="{{ meeting.meetingID }}">S'enregistrer à la conférence</button></td>
                    <td><button type="button" {% if meeting.running == 'true' or user.is_authenticated %}
                                                    class="btn btn-success" enabled
                                                {% else %}
                                                    class="btn btn-default" disabled
                                                {% endif %}
                            name="show_join_meeting_form" value="Rejoindre la conférence" id="{{ meeting.meetingID }}">Rejoindre la conférence</button>
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            Aucune conférence disponible.
        {% endif %}
    </fieldset>

    <div class="modal fade" id="modal_subscribe">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Enregistrement à la conférence</h4>
                </div>
                <form action="{% url 'meetings' %}" method="post">{% csrf_token %}
                    <div class="modal-body">
	                    <div class="input-group">
	                      <span class="input-group-addon">Adresse mail</span>
	                      {{ registered_user_form.mail }}
	                    </div><br />
	                    {% if registered_user_form.mail.errors %}
	                        <div class="alert alert-danger">{{ registered_user_form.mail.errors }}</div>
	                    {% endif %}
	                    <div class="input-group">
	                      <span class="input-group-addon">Nom</span>
	                      {{ registered_user_form.last_name }}
	                    </div><br />
	                    {% if registered_user_form.last_name.errors %}
	                        <div class="alert alert-danger">{{ registered_user_form.last_name.errors }}</div>
	                    {% endif %}
	                    <div class="input-group">
	                      <span class="input-group-addon">Prénom</span>
	                      {{ registered_user_form.first_name }}
	                    </div><br />
	                    {% if registered_user_form.first_name.errors %}
	                        <div class="alert alert-danger">{{ registered_user_form.first_name.errors }}</div>
	                    {% endif %}
	                    <div class="input-group">
	                      <span class="input-group-addon">N° de téléphone</span>
	                      {{ registered_user_form.phone_number }}
	                    </div><br />
	                    {% if registered_user_form.phone_number.errors %}
	                        <div class="alert alert-danger">{{ registered_user_form.phone_number.errors }}</div>
	                    {% endif %}
	                    <div class="input-group">
	                      <span class="input-group-addon">Société</span>
	                      {{ registered_user_form.company }}
	                    </div>
	                    {% if registered_user_form.company.errors %}
	                        <br />
	                        <div class="alert alert-danger">{{ registered_user_form.company.errors }}</div>
	                    {% endif %}
	                    <input type="text" id="meeting_id_subscribe" name="meeting_id" hidden></input>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="subscribe_meeting" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div class="modal fade" id="modal_join">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Rejoindre la conférence</h4>
                </div>
                <form action="{% url 'meetings' %}" method="post">{% csrf_token %}
                    <div class="modal-body">
	                    <div class="input-group">
	                      <span class="input-group-addon">Nom d'utilisateur</span>
	                      {{ join_meeting_form.username }}
	                    </div><br />
	                    {% if join_meeting_form.username.errors %}
	                        <div class="alert alert-danger">{{ join_meeting_form.username.errors }}</div>
	                    {% endif %}
	                    <div class="input-group">
	                      <span class="input-group-addon">Mot de passe</span>
	                      {{ join_meeting_form.password }}
	                    </div>
	                    {% if join_meeting_form.password.errors %}
	                        <br />
	                        <div class="alert alert-danger">{{ join_meeting_form.password.errors }}</div>
	                    {% endif %}
	                    {% if wrong_password %}
                            <br />
                            <div class="alert alert-danger">Mauvais mot de passe.</div>
                        {% endif %}
	                    <input type="text" id="meeting_id_join" name="meeting_id" hidden></input>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="join_meeting" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block extra_js %}
    <script>
        jQuery(document).ready(function ()
        {
            jQuery("[name='show_subscribe_meeting_form']").click(function() {
                jQuery("#modal_subscribe").modal('show');
                jQuery("#meeting_id_subscribe").val(jQuery(this).attr("id"));
           });
            
            jQuery("[name='show_join_meeting_form']").click(function() {
                jQuery("#modal_join").modal('show');
                jQuery("#meeting_id_join").val(jQuery(this).attr("id"));
           });
            
           {% if join_meeting_form.errors or wrong_password %}
               jQuery("#modal_join").modal('show');
           {% endif %}
           {% if registered_user_form.errors %}
               jQuery("#modal_subscribe").modal('show');
           {% endif %}
        });
    </script>
{% endblock %}
